/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@FONT-FACE {
    font-family: BebasNeue;
    src: url('BebasNeue%20Bold.ttf');
}

@FONT-FACE {
    font-family: "Myriad Pro Semibold";
    src: url(MyriadPro-Semibold.otf);
}

/*Body*/

body{
    min-width: 800px;
    background: url(../img/front.jpg);
    color: #8c8b89;
    font-size: 13px;
}

.main{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*Header*/

.logo{
    float: left;
}
.logo a{
    text-decoration: none;
}
.name, .logo-text {
    display: block;
    font-family: 'BebasNeue', Impact, Haettenschweiler, Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans-serif;
    /*font-size: 50px;*/
    text-transform: uppercase;
}
.name {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    color: #dd405b;
}

.logo-text{
    font-size: 50px;
    border-bottom: 4px solid #8c8c8c;
    height: 46px;
    color: #8c8c8c;
}

.logo a:hover .logo-text{
    border-bottom: 0;
    margin-bottom: 4px;
}

.header-navigation{
    float: right;
    font-family: 'BebasNeue', Impact, Haettenschweiler, Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black, sans-serif;
    font-size: 25px;
    margin-top: 25px;
}

.header-navigation a{
    text-decoration: none;
    color: #bbb9ba;
}

.header-navigation li{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
}

.header-navigation .active, .header-navigation li:hover,
.header-navigation li a:hover, .header-navigation .active a{
    border-bottom: 2px solid #8c8c8c;
    color: #8c8c8c;
}

header:after{
    content: '';
    display: block;
    clear: both;
}

header {
    margin-bottom: 10px;
}
.hello{
    font-size: 60px;
    margin-top: 90px;
    margin-bottom: 50px;

}

.hello h1{
    text-transform: uppercase;
    text-align: center;
    font-family:  "Myriad Pro Semibold";

}

.hello p {
    text-align: center;
    text-transform: none;
    font-size: 50px;
    /*font-family:  "Myriad Pro Semibold";*/
}

/*About me and Skills*/
.about-me{
    float: left;
    width: 50%;
}
.content{
    margin-bottom: 40px;
}

.about-me h1, .skills h1, .my-work h1, .contact h1{
    font-family: 'BebasNeue', Impact, Haettenschweiler, Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black, sans-serif;
    font-size: 40px;
    color: #dd405b;
    text-transform: uppercase;
    /*border-bottom: 4px solid #e1e0de;*/
}

.skills h3, .contact h3{
    font-family: 'BebasNeue', Impact, Haettenschweiler, Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black, sans-serif;
    font-size: 25px;
    color: #8c8c8c;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.about-me-top{
    padding-left: 10px;
    border-bottom: 4px solid #e1e0de;
    margin-right: 20px;
}

.about-me-content{
    margin-top: 20px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 13px;
    /*overflow: hidden;*/
    /*padding-right: 10px;*/
}

.about-me-content p{
    overflow: hidden;
    line-height: 1.3;
}

.about-me-content img{
    float: left;
    margin: 0px 20px 20px 0px;
}

.skills{
    float: right;
    width: 50%;
    font-size: 13px;
}

.skills-top{
    padding-left: 10px;
    border-bottom: 4px solid #e1e0de;
}
/*.skills:after{*/

/*}*/
.skills-content{
    margin-top: 20px;
    padding-left: 10px;
}
.skills-content ul a{
    text-decoration: none;
    color: #8c8c8c;
}

.skills-content ul a:hover {
    text-decoration: none;
    color: #dd405b;
}


.skills-content ul{
    list-style: none;
}

.skills-content ul li{
    position:relative;
    padding:0 0 0 20px;
    line-height: 20px;
}
.skills-content ul li:before{
    position:absolute;
    top:8px;
    left:8px;
    background:red;
    width:5px;
    height:5px;
    border-radius:50%;
    content:'';
}

.skills-web{
    float: left;
    width: 50%;
}
.skills-design{
    float: right;
    width: 50%;
}
.content:after{
    content: '';
    clear: both;
    display: block;
}

/*My work*/
.my-work{
    margin-bottom: 40px;
}

.my-work-top{
    height: 40px;
    padding-left: 10px;
    border-bottom: 4px solid #e1e0de;
}
.my-work-name{
    float: left;

}

.my-work li{
    display: inline-block;
    float: right;
    margin-top: 20px;
    text-transform: uppercase;
    front-size:3px;

    /*color: red;*/
}
.my-work li a {
    font-family: Verdana, Arial, Helvetica, sans-serif;;
    text-decoration: none;
    color: red;
    padding-left: 4px;
    padding-right: 11px;
}

.my-work li a:hover{
    color: rosybrown;
}

/*My work content*/

.my-work-content{
    margin: 0 10px;
}

.wrap-gallery{
    text-align: justify;
}

.wrap-gallery:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.my-work-content figure{
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

figure{
    position: relative;
}
figure a{
    display: block;
    /*width: 220px;*/
    /*height: 130px;*/
    /*overflow: hidden;*/
    /*background-color: white;*/
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
    margin-bottom: 10px;
}

figure:before, figure:after{
    content: '';
    position: absolute;
    width: 10%;
    height: 70%;
    top: 7px;
    left: 14px;
    z-index: -1;
    -webkit-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: -15px 0 10px rgba(0,0,0,0.6);
    box-shadow: -15px 0 10px rgba(0,0,0,0.6);
}

figure:after{
    left: auto;
    right: 14px;
    -webkit-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 15px 0 10px rgba(0,0,0,0.6);
    box-shadow: 15px 0 10px rgba(0,0,0,0.6);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
}

figure:before {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.my-work:after{
    content: '';
    display: block;
    clear: both;
}

/*Contact*/
.contact{
    margin-bottom: 40px;
}
.contact:after{
    display: block;
    content: '';
    clear: both;
}
.contact-top{
    border-bottom: 4px solid #e1e0de;
}

.contact-main{
    margin-top: 23px;
}
.contact-main-left{
    /*display: inline-block;*/
    padding-left: 4px;
    float: left;
    width: 48%;
}
.contact-main-right{
    /*display: inline-block;*/
    float: right;
    width: 50%;
}

/*.contact-main-left .left, .contact-main-left .right{*/
    /* display:inline-block; */
    /*width:50%;*/
/*}*/
.contact-main-left .left{
    float:left;
    width: 50%;
    /*margin-right: 20px;*/
}

.contact-main-left .right{
    float:right;
    width: 50%;
    margin-bottom: 30px;
}

input{
    width: 96%;
    height: 33px;
    background: #e8e8e8;
    padding: 0;
    /*outline: auto;*/
    /*border: 1px;*/
    border: 1px inset;
    margin-top: 3px;

}
.contact-main-left .right label{
    padding-left: 10px;
}


.contact-main-left .right input{
    position: relative;
    left: 10px;
}

.message{
    margin-top: 15px;
    display: inline-block;
}

textarea{
    background: #e8e8e8;
    height: 113px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 20px;
    padding: 0;
}

.button {
    color : #ffffff;
    width: 100px;
    height: 35px;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'BebasNeue', Impact, Haettenschweiler, Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black, sans-serif;
    font-size: 25px;
    background: #dd405b;;
}

.contact-main-right img {
    display: inline-block;
    float: left;
}
.address{
    padding-left: 280px;
}

.address h4{
    margin-bottom: 5px;
    font-weight: bold;
}

.address span{
    padding-left: 2px;
    line-height: 1.4;
}

.address span a{
    color: red;
}

/*Footer*/
footer{
    position: relative;
    border-bottom: 4px solid #e1e0de;
    margin-bottom: 60px;
}


.footer{
    position: absolute;
    top: 13px;
    left: 4px;
}
.footer a{
    color: red;
}

.footer a:hover{
    color: firebrick;
}


.footer-block{
    position: absolute;
    right: 20px;
    top: 10px;
}

footer:after{
    margin-bottom: 40px;
}